* {
    all: unset;
/*    font-family: "Px Plus IBM VGA8", monospace; */
	font-family: "Geist Mono", monospace;
    font-size: 13px;
    font-weight: 500;
	color: #000;
    letter-spacing: 0px;
}

window#waybar {
    background-color: #d4d4d4;
    border-bottom: 0px solid #000;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0;
}

tooltip {
    background-color: #d4d4d4;
    border: 1px solid #000;
    padding: 4px 8px;
}

/* --- Workspaces --- */
#workspaces {
    padding: 0px 0px;
}

#workspaces button {
    padding: 0px 6px;
    background: transparent;
    border-radius: 0;
}

#workspaces button.active {
    color: #000000;
    background-color: #818181;
}

#workspaces button.empty {
}

#workspaces button:hover {
    background-color: #50c3fa;
    color: #f0f528;
}

/* --- Módulos generales --- */
#clock,
#mpris,
#network,
#bluetooth,
#pulseaudio,
#battery,
#language {
    padding: 0 10px;
    background: transparent;
}

/* --- Estados --- */

#network.disconnected {
	color: #818181;
    background-color: transparent;
}

#network.wifi {
	background-color: #3a3a3a;
}

#mpris.playing {
    background-color: #3a3a3a;
}

#mpris.stopped {
    color: #818181;
}

#bluetooth.disabled {
    color: #818181;
}

#bluetooth.connected {
    background-color: #3a3a3a;
    color: #000000;
}

#pulseaudio.muted {
    color: #818181;
}

#battery.warning {
    background-color: transparent;
    color: #818181;
}

#battery.critical {
    background-color: #3a3a3a;
}

#battery.charging {
    background-color: #3a3a3a;
}

